html body{
    background: rgb(234, 236, 238);
    height: 100%;
    width: 100%;
}

#encabezado{
    background-image: url(img/grey-bg.png);
    background-size: cover;
    
}

#header{
    display: flex;
    flex-direction: row;
    margin:auto;
    width: 100%;
    
}
.header-texto{
    margin-top: 3em;
}
#header-foto{
    max-width: 75%;
    font-size: 1.5em;    
    width: 25%;   
    display: flex;
    justify-content: center;  
}
#header-redes{
    margin-top: 2em;
    margin-left: 5em;
    display: flex;
    flex-direction: row;
    width:25%;
    
}
.link-redes{
    margin-left: 2em;
    width: 3em;
    height: 2em;
   
    text-align: center;
}
#header-info{
    color: rgb(230, 230, 230);
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-align: start;
    width: 75%;
    font-size: 3rem;
    padding: .2em;
}

#foto{
    float: left;
    height: auto;
    
    width: 13rem;
    border-radius: 50%;
    align-self: start;
}
#botones-redes{

    width: 25%;
}


@media screen and (max-width:600px){
    #header{
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-left: 0.5em;
    }
    #header-foto{
        margin-left: 1em;
        width: 90%;
        justify-content: start;
    }
    #header-info{
       font-size: 3rem;
        width: 90%;
    }
     #header-redes{
         flex-wrap: nowrap;
         text-align: center;
         float: none;
         width: 80%;
         height: auto;
     }
     .link-redes{
        
         width: 4em;
         height: 3em;
        
     }
}