html body{
    background: rgb(205, 206, 207);
}
 /*///////////////////////////////////////////////  HEADER  ///////////////////////////////////////////////////////*/
#encabezado{
    background-image: url(img/grey-bg.png);
    background-size: cover;
}

#header{
    display: flex;
    flex-direction: row;
    margin:auto;
    width: 100%;
    height: 12em;
}
.header-texto{
    margin: 2em;
}
#header-foto{
    margin: 1em;
    font-size: 1.5em;    
    width: 30%;   
}
#header-info{
    color: rgb(230, 230, 230);
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-align: start;
    width: 33%;
    font-size: 3rem;
    padding: .2em;
}
.link-redes{
    width: 3em;
    height: 2.5em;
    margin: 1em;
    border-radius: 15%;
}
#foto{
    float: left;
    height: auto;
    width: 13rem;
    border-radius: 50%;
    align-self: start;
}

/*  /////////////////////////////////////// CONTENIDO  //////////////////////////////////////////////   */
#contenido{
    width: 100%;
    
    text-align: center;
    border: 1px solid black;
    display: flex;
    flex-direction: row;
    }
.row{
    width: 100%;
    margin-top: 2em;
}
    #col-botones{
        width: 25%;
    }
    #col-contenido{
        width: 50%;
    }
    #col-bio{
        width:25%;
    }
#Proyectos{
    height: auto;
    display: flex;
    flex-direction:row;
    flex-wrap: wrap;
   
    
}
.ventana-proyecto{
    width: 40%;
    margin: 5%;
    
    overflow: hidden;
    border: 2px solid black;

}
.ventana-proyecto img{
   height: 15em;
}
#bio{
    width: 30%;
    text-align: center;
    margin-right: 2em;
    position: absolute;
    right: 0;
}
.ventana{
    width: 10%;
}
.boton{
    margin-left: 10px;
}

.btn-cerrar{
    background: red;
}
.btn-abrir{
    background: green; 
}

.ventana-titulo{
    font-size: 1.5em;
    width: 80%;
    text-align: center;
}


/*//////////////////////////////RESPONSIVE//////////////////////////////////////////////////*/

@media screen and (max-width:600px){
  
    #header{
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-left: 0.5em;
        height: 100%;
    }
    #header-foto{
        margin-left: 1em;
        width: 90%;
        justify-content: start;
    }
    #header-info{
       font-size: 3rem;
        width: 90%;
    }

     #header-redes{
         width: 100%;
        margin-left: 0em;     
       
    }
    .link-redes{
        width: 2.5em;
        height: 2em;
        margin: 1em;
    }
 .ventana-titulo{
     font-size: 1em;
 }
#contenido{
    flex-direction: row;
}
#Proyectos{
    flex-direction: column;
}

}